# 编译产物
/bin/
/dist/
/.staging/

# 真实配置
config.ini
config-office.ini
config-lnas.ini
config-*.ini
!config*.ini.example

# 日志
*.log
/log/

# 备份
/backup/
/rbackup.d/
/rbackup-tui.d/

# 编辑器
*.swp
*.save
.vscode/
.idea/
